<p id="notice"><%= notice %></p>

<p>
  <strong>Course list:</strong>
  <%= @enrollment_link.course_list %>
</p>

<p>
  <strong>:</strong>
  <%= @enrollment_link. %>
</p>

<%= link_to 'Edit', edit_enrollment_link_path(@enrollment_link) %> |
<%= link_to 'Back', enrollment_links_path %>
