<h1> subject </h1>
<table>                         
  <tr>                          
    <th>Name </th>
    <th>Abbreviation </th>
    <th>identification </th>
    <th>term </th> 
    <th>segments</th>
  </tr>
<% @subjects.each do |data| %>      
  <tr>
    <td><%= data.name %></td>  
    <td><%= data.abbreviation %></td> 
    <td><%= data.identification %></td> 
    <td><%= data.term %></td> 
    <td><%= data.segments%></td>  
  </tr>
<% end %>                        
</table>

